.mainheader{
    background-color: black;
    height: 150px;
    width: 100%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Lobster", sans-serif;
    font-weight: 400;
    font-style: normal;
    position: fixed;
    margin-top: 0;
    

}
.main{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
}
.mainnav{
    width: 20%;
    background-color: black;
    height: 100vh;
    margin-top: 5px;
    border-radius: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    position: fixed;
    
}

.mainnav a{
text-decoration: none;
color: white;
display: flex;


}
.mainfeed{
    width: 100%;
    overflow: scroll;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 10%;
}
.feed{
    height: 600px;
    width: 600px;
    background-color: darkgrey;
    margin-top: 25px;
    margin-left: 40%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 2%;
 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.images{
    height: 550px;
    width: 550px;
    object-fit: contain;
}